.header {
  height: 100px;
  border-bottom: 5px solid $color-gradient;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #212121;
  position: relative;

  .logo {
    height: 75px;
  }

  .header_line {
    position: absolute;
    bottom: -8px;
    height: 8px;
    width: 100%;
    background: linear-gradient(132deg, rgba(203, 48, 102, 1) 0%, rgba(22, 191, 253, 1) 100%);
  }

  .img_circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 3px solid $color-primary;
    margin-right: 10px;
    overflow: hidden;
    position: relative;

    img {
      width: 76px;
      height: 76px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  .avatar_box {
    display: flex;
    align-items: center;
  }

  .avatar_name {
    font-family: 'Niramit', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-right: 20px;
  }

  .header_box {
    display: flex;
    justify-content: space-between;
  }

}