.page {
  height: 100vh;
  background-image: url("../resources/bg-img_Obszar roboczy 1.png");
  background-size: cover;
  background-position: bottom;

  .icons_box {
    width: 200px;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    .fa-facebook-f {
      color: #3B5998;
      text-align: center;
      font-size: 30px;
      cursor: pointer;
    }

    .fa-google {
      color: #FF4343;
      font-size: 30px;
      text-align: center;
      cursor: pointer;
    }
  }

  .register_link {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto 0 auto;
    font-family: 'Niramit', sans-serif;
     span a {
       margin-left: 20px;
       text-decoration: none;
       color: $color-primary;
     }
  }

}